<!-- <div class="create-nft">
    <h2 style="text-align: center;">Les livres</h2>
    <div class="row">
        <div class="col-md-2" *ngFor="let livre of livres"
            style="padding: 10px; width: 250px; height: 500px; margin-left: 100px; ">
            <div class="card" style="width: 16rem; ">
                <img src={{livre.couverture}} class="card-img-top" alt="..." style="height: 200px; width: 150px;">
                <div class="card-body" style="padding: 10px; width: 250px; height: 200px; ">
                    <h5 class="card-title">{{livre.titre}}</h5>
                    <p class="card-text">{{livre.specialite.nomspecialite}}</p>
                    <a class="btn btn-primary" [routerLink]="['/livres/', livre._id, 'details']">Plus de détails</a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="create-nft">
<div class="author-page">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6"  *ngFor="let livre of livres">
          <div class="item">
            <div class="row">
              <div class="col-lg-12">
                <span class="author">
                </span>
                <img src={{livre.couverture}} alt="" style="border-radius: 20px; width: 100%; height: 270px;">
                <h4 style="height: 50px; overflow: hidden;">{{livre.titre}}</h4>
            </div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-6">
                    <span>{{livre.specialite.nomspecialite}}</span>
                  </div>
                  <div class="col-6">
                    <span>{{livre.prix}} Dt</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="main-button">
                  <a [routerLink]="['/livres/', livre._id, 'details']">Plus de détails</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>