<div class="create-nft">
    <h2 style="text-align: center;">Les produits</h2>
    <div>
        <app-create></app-create>
    </div>


    <form class="d-flex" role="search" style="margin: 20px;">
        <input class="form-control me-2" matInput (keyup)="filter($event)" type="search" placeholder="Search"
            aria-label="Search">
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>N°Tél</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let auteur of auteurs">

                <td>{{ auteur.nomauteur }}</td>
                <td>{{ auteur.email }}</td>
                <td>{{ auteur.numtel }}</td>
                <td>
                    <a [routerLink]="['/auteurs/', auteur._id, 'view']" class="btn btn-default">
                        <i class="bi bi-eye-fill" style="color: dimgray;"></i>
                    </a>
                    <a [routerLink]="['/auteurs/', auteur._id,'edit']" class="btn btn-default">
                        <i class="bi bi-pencil-fill" style="color: dimgray;"></i>
                    </a>

                    <button type="button" (click)="deleteAuteur(auteur._id)" class="btn btn-default">
                        <i class="bi bi-trash-fill" style="color: brown;"></i>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>