<div class="create-nft">
    <h2 style="text-align: center;">Nos livres</h2>
    <div>
        <app-create></app-create>
    </div>


    <form class="d-flex" role="search" style="margin: 20px;">
        <input class="form-control me-2" matInput (keyup)="filter($event)" type="search" placeholder="Search"
            aria-label="Search">
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>couverture</th>
                <th>titre</th>
                <th>annedition</th>
                <th>qtestock</th>
                <th>prix</th>
                <th>specialite</th>
                <th>editeur</th>
                <th>auteurs</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let livres of livres">
                <td><img src={{livres.couverture}} class="img-fluid rounded-start" style="height: 100px; width: 100px;">
                </td>
                <td>{{ livres.titre }}</td>
                <td>{{ livres.annedition }}</td>
                <td>{{ livres.qtestock }}</td>
                <td>{{ livres.prix }}</td>
                <td>{{ livres.specialite.nomspecialite }}</td>
                <td>{{ livres.editeur}}</td>
                <td>{{ livres.auteurs.id}}</td>
                <td>

                    <app-edit [livreId]="livres._id"> </app-edit>
                    <button type="button" (click)="confirmDelete(livres._id)" class="btn btn-default">
                        <i class="bi bi-trash-fill" style="color: brown;"></i>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>