<div class="create-nft">
    <h2 style="text-align: center;">Les éditeurs</h2>
    <div>
        <app-create></app-create>
    </div>


    <form class="d-flex" role="search" style="margin: 20px;">
        <input class="form-control me-2" matInput (keyup)="filter($event)" type="search" placeholder="Search"
            aria-label="Search">
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Maison d'édition</th>
                <th>Site web</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let editeur of editeurs">

                <td>{{ editeur.maisonedit }}</td>
                <td>{{ editeur.siteweb }}</td>
                <td>{{ editeur.email }}</td>
                <td>           
                    <app-edit [editeurId]="editeur._id"></app-edit>
                    <button type="button" (click)="confirmDelete(editeur._id)" class="btn btn-default">
                        <i class="bi bi-trash-fill" style="color: brown;"></i>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>