<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" routerLink="/products/create/" (click)="openModal()">
    <i class="bi bi-plus-circle-fill"></i>
    Nouveau Editeur
</button>
<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ajout Editeur</h4>
                <button type="button" class="btn btn-default" aria-label="Close" (click)="closeModal()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <template *ngTemplateOutlet="formEditeur"></template>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Form -->
<ng-template #formEditeur>
    <form (ngSubmit)="ajoutEditeur()">
        <div class="mb-3">
            <input type="text" class="form-control" id="maisonedit" name="maisonedit" placeholder="editeur" [(ngModel)]="editeur.maisonedit" >
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="siteweb" name="siteweb" placeholder="siteweb" [(ngModel)]="editeur.siteweb">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="email" name="email" placeholder="@ Mail" [(ngModel)]="editeur.email">
        </div>
        <div>
            <button type="submit" class="btn btn-success" (clic)="ajoutEditeur()">Enregistrer</button>
        </div>
    </form>
</ng-template>
