<div class="create-nft">
    <div class="card mb-3" style="max-width: 90%; height: 700px; margin: 30px; ">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{livreservice.couverture}}"
                    class="img-fluid rounded-start" style="height: 700px; width: 700px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">{{livreservice.titre}}</h1>
                    <p class="card-text"><small class="text-body-secondary">{{livreservice.specialite.nomspecialite}}</small></p>
                    <p class="card-text">{{livreservice.annedition}}</p>
                   
                    <p class="card-text">- La maison d'édition : {{livreservice.editeur.maisonedit}}</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>