<div class="create-nft">
    <div class="form-signin w-50 m-auto item-details-page">
        <!-- <form (ngSubmit)="loginUser()">

            <div class="col-lg-12">

                <h3 class="h3 mb-3 font-weight-normal text-center">Login</h3>
                <div class="mb-3">
                    <label>Email</label>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="email" name="email" placeholder="email"
                            [(ngModel)]="email">

                    </div>
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="password" name="password" placeholder="password"
                            [(ngModel)]="password">

                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </form>
 -->

        <form  (ngSubmit)="loginUser()" id="contact" action="" method="post">
            <div class="row">
                <h3 class="h3 mb-3 font-weight-normal text-center">Login</h3>

                <div class="col-lg-12">
                    <fieldset>
                        <label for="royalities">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="email"
                        [(ngModel)]="email">
                    </fieldset>
                </div>

                <div class="col-lg-12">
                    <fieldset>
                        <label for="royalities">Password</label>
                        <input type="text" class="form-control" id="password" name="password" placeholder="password"
                            [(ngModel)]="password">
                    </fieldset>
                </div>

                <div class="col-lg-12">
                    <fieldset>
                        <button type="submit" id="form-submit" class="orange-button">Submit Your Applying</button>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
</div>