<!-- Button trigger modal -->
<button type="button" class="btn btn-default" style="color: #e86252;" routerLink="/livre/create/" (click)="openModal()">
    <i class="bi bi-plus-circle-fill"></i>
    Nouveau Livre
</button>
<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ajout Livre</h4>
                <button type="button" class="btn btn-default" aria-label="Close" (click)="closeModal()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <template *ngTemplateOutlet="formLivre"></template>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Form -->
<ng-template #formLivre>
    <form (ngSubmit)="ajoutLivre()">
        <div class="mb-3">
            <input type="text" class="form-control" id="titre" name="titre" placeholder="titre"
                [(ngModel)]="livre.titre">
        </div>
        <div class="mb-3">
            <input type="number" class="form-control" id="annedition" name="annedition" placeholder="annedition"
                [(ngModel)]="livre.annedition">
        </div>
        <div class="mb-3">
            <input type="number" class="form-control" id="qtestock" name="qtestock" placeholder="qtestock"
                [(ngModel)]="livre.qtestock">
        </div>
        <div class="mb-3">
            <input type="number" class="form-control" id="prix" name="prix" placeholder="prix" [(ngModel)]="livre.prix">
        </div>
        <div class="mb-3">
            specialite : <select name="specialite" class="form-control" [(ngModel)]="livre.specialite">
                <option *ngFor="let sd of specialite" value="{{sd._id}}">
                    {{sd.nomspecialite}}
                </option>
            </select>
        </div>
        <div class="mb-3">
            editeur : <select name="editeur" class="form-control" [(ngModel)]="livre.editeur">
                <option *ngFor="let sd of editeur" value="{{sd._id}}">
                    {{sd.maisonedit}}
                </option>
            </select>
        </div>
        <div class="mb-3">
            auteur : <select name="auteur" class="form-control" [(ngModel)]="livre.auteurs">
                <option *ngFor="let sd of auteur" value="{{sd._id}}">
                    {{sd.nomauteur}}
                </option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-default" style="color: #e86252;"
                (clic)="ajoutLivre()">Enregistrer</button>
        </div>
    </form>
</ng-template>